</main>
</div>

<footer class="it-footer" id="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="/">
                <svg class="icon"><use href="#it-pa"></use></svg>
                <div class="it-brand-text">
                  <h2 class="no_toc">Nome dell'Istituzione</h2>
                  <h3 class="no_toc d-none d-md-block">Sito di esempio in Quarto con Bootstrap Italia</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
            <p>
              <strong>Nome dell'Istituzione</strong><br>
              Via Roma 1 - 00100 Città<br>
              Codice fiscale / P. IVA: 00000000000
            </p>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Amministrazione trasparente">Amministrazione trasparente</a></h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="#">Albo pretorio</a></li>
                <li><a class="list-item" href="#">Bandi e concorsi</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
            <ul class="list-inline text-left social">
              <li class="list-inline-item">
                <a class="p-2 text-white" href="https://github.com/aborruso/quarto-bootstrap-italia" target="_blank" rel="noopener noreferrer">
                  <svg class="icon icon-sm icon-white align-top"><use href="#it-github"></use></svg>
                  <span class="visually-hidden">Il progetto su GitHub</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#" target="_blank" rel="noopener noreferrer">
                  <svg class="icon icon-sm icon-white align-top"><use href="#it-designers-italia"></use></svg>
                  <span class="visually-hidden">Designers Italia</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="visually-hidden">Sezione link utili</h3>
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><a href="#" title="Media policy">Media policy</a></li>
        <li class="list-inline-item"><a href="#" title="Note legali">Note legali</a></li>
        <li class="list-inline-item"><a href="#" title="Privacy policy">Privacy policy</a></li>
        <li class="list-inline-item"><a href="#" title="Mappa del sito">Mappa del sito</a></li>
      </ul>
    </div>
  </div>
</footer>


<script>
  // segna come attiva la voce di menu della pagina corrente
  ;(function () {
    // /sezione/ e /sezione/index.html sono la stessa pagina
    function normalizza(p) {
      return p.replace(/index\.html$/, '').replace(/\/$/, '') || '/'
    }
    var qui = normalizza(window.location.pathname)
    document.querySelectorAll('.navbar-nav a[href]').forEach(function (a) {
      var href = a.getAttribute('href')
      // i link segnaposto href="#" hanno il pathname della pagina: vanno esclusi
      if (!href || href.charAt(0) === '#') return
      if (normalizza(a.pathname) !== qui) return
      a.classList.add('active')
      a.setAttribute('aria-current', 'page')
      var voce = a.closest('.nav-item')
      if (voce) voce.classList.add('active')
      // se la pagina sta in un menu a tendina, si evidenzia anche la voce che lo apre
      var tendina = a.closest('.dropdown-menu')
      if (tendina) {
        var apri = tendina.parentElement.querySelector('.dropdown-toggle')
        if (apri) apri.classList.add('active')
      }
    })
  })()
</script>
